<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}PAOOU FASHION{% endblock %}</title>

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
          rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

   <!-- ENCABEZADO -->
<header class="hero">
    <div class="container text-center">

        <h1>PAOOU FASHION</h1>

        <p>
            Elegancia que inspira, estilo que enamora.
        </p>

    </div>
</header>


    <!-- COMPONENTE NAVBAR -->
    {% include "components/navbar.html" %}


    <!-- CONTENIDO DE CADA PÁGINA -->
    <main>

        {% block content %}

        {% endblock %}

    </main>


    <!-- COMPONENTE FOOTER -->
    {% include "components/footer.html" %}


    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js">
    </script>


    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}">
    </script>

</body>

</html>