<!-- MENÚ DE NAVEGACIÓN -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <!-- LOGO -->

        <a class="navbar-brand"
           href="{{ url_for('dashboard_cliente') }}">

            <img src="{{ url_for('static', filename='img/logo.jpeg') }}"
                 width="45"
                 class="me-2 rounded"
                 alt="Logo de PAOOU FASHION">

            PAOOU FASHION

        </a>


        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#menu">

            <span class="navbar-toggler-icon"></span>

        </button>


        <div class="collapse navbar-collapse" id="menu">

            <ul class="navbar-nav ms-auto">

                {% if current_user.is_authenticated %}

                    <!-- INICIO -->

                    <li class="nav-item">

                        <a class="nav-link"
                           href="{{ url_for('dashboard_cliente') }}">

                            Inicio

                        </a>

                    </li>


                    <!-- BUSCADOR / CATÁLOGO -->

                    <li class="nav-item">

                        <a class="nav-link"
                           href="{{ url_for('buscar') }}">

                            🔎 Buscar

                        </a>

                    </li>


                    <!-- MI CARRITO -->

                    <li class="nav-item">

                        <a class="nav-link"
                           href="{{ url_for('carrito') }}">

                            🛒 Mi carrito

                        </a>

                    </li>


                    <!-- MI PERFIL -->

                    <li class="nav-item">

                        <a class="nav-link"
                           href="{{ url_for('perfil') }}">

                            Mi perfil

                        </a>

                    </li>


                    <!-- CERRAR SESIÓN -->

                    <li class="nav-item">

                        <a class="nav-link"
                           href="{{ url_for('logout') }}">

                            Cerrar sesión

                        </a>

                    </li>

                {% else %}

                    <li class="nav-item">

                        <a class="nav-link"
                           href="{{ url_for('inicio') }}">

                            Inicio

                        </a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link"
                           href="{{ url_for('inicio') }}#quienes">

                            Quiénes Somos

                        </a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link"
                           href="{{ url_for('inicio') }}#servicios">

                            Productos

                        </a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link"
                           href="{{ url_for('inicio') }}#contacto">

                            Contacto

                        </a>

                    </li>

                    <li class="nav-item">

                        <a class="nav-link"
                           href="{{ url_for('login') }}">

                            Ingresar al sistema

                        </a>

                    </li>

                {% endif %}

            </ul>

        </div>

    </div>

</nav>